//
//	MIXINS
// ------------------------------------------------------

@function em($size, $context: 16) {
	@return ($size / $context) + em;
}

@mixin font-size($size, $context: 16) {
	font-size: em($size, $context);
}

@mixin box-sizing($value) {
	-webkit-box-sizing: $value;
	-moz-box-sizing: $value;
	box-sizing: $value;
}
